        -----------WEEK 1 - Day 1-----------
                            - Manojkiran G

## **Python Data Types**

#### **List**: Lists are ordered, mutable sequences, which can contain elements of different data types

In [1]:
fruits = ['apple', 'orange', 'banana']
print(fruits[1])
print(type(fruits))

orange
<class 'list'>

**List append**

In [2]:
fruits.append('pineapple')
fruits.extend(['grape', 'melon'])
print(fruits)

['apple', 'orange', 'banana', 'pineapple', 'grape', 'melon']

**Deleting Elements in list**

In [3]:
fruits.remove('orange')
print(fruits)

['apple', 'banana', 'pineapple', 'grape', 'melon']

**Slicing in list**

In [4]:
list = [1, 2, 3, 4, 5, 6, 7]
print(list[0:4])
print(list[::])
print(list[::2])
print(list[::-1])

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 5, 7]
[7, 6, 5, 4, 3, 2, 1]

#### **Tuples** :Tuples are ordered, immutable sequences, often used to store heterogeneous data.

In [5]:
#empty 
tuple1 = ()
print(tuple1)

# integers
tuple2 = (1, 2, 3)
print(tuple2)

# mixed datatypes
tuple3 = (10, "Hi", 3.14)
print(tuple3)

# nested tuple
tuple4 = ("python", [56, 4, 6], (1, 2, 3))
print(tuple4)

()
(1, 2, 3)
(10, 'Hi', 3.14)
('python', [56, 4, 6], (1, 2, 3))

In [6]:
tuple_example = (1,2,3,4)  #iterating through tuple
for value in tuple_example:
  print("hi")

hi
hi
hi
hi

#### **Sets**: Sets are unordered collections of unique elements

In [7]:
numbers = {12, 14, 46, 56, 22, 81}
print(numbers)

{81, 22, 14, 56, 12, 46}

In [8]:
numbers = {4, 9, 0, 5, 3}

print('before:',numbers)
numbers.add(1)
print('after:', numbers)

before: {0, 3, 4, 5, 9}
after: {0, 1, 3, 4, 5, 9}

In [9]:
language = {'Tamil', 'English', 'French'}

print('before:',language)
removedValue = language.discard('Tamil')
print('after:', language)

before: {'Tamil', 'French', 'English'}
after: {'French', 'English'}

In [10]:
num = {1, 4, 6, 6, 1, 3}
print(len(num))

4

**Set intersection**

In [11]:
set1 = {11, 31, 51}
set2 = {11, 21, 31}
print('using &:', set1 & set2)
print('using intersection():', set1.intersection(set2))

using &: {11, 31}
using intersection(): {11, 31}

In [12]:
print('using -:', set1 - set2)
print('using intersection():', set1.difference(set2))

using -: {51}
using intersection(): {51}

#### **Dictionaries**: Dictionaries are unordered collections of key-value pairs.

In [13]:
dict = {1:'apple', 2:'box', 3:'car', 4:'deer',5:'eagle'}
print(dict)
print(dict[5])

{1: 'apple', 2: 'box', 3: 'car', 4: 'deer', 5: 'eagle'}
eagle

In [14]:
print(dict.items())
print(dict.keys())
print(dict.values())

dict_items([(1, 'apple'), (2, 'box'), (3, 'car'), (4, 'deer'), (5, 'eagle')])
dict_keys([1, 2, 3, 4, 5])
dict_values(['apple', 'box', 'car', 'deer', 'eagle'])

## **Python Decision Making**

**If ..else , If..elif..else , Nested if loops**

In [15]:
num = 10

# Simple if-else statement
if num > 0:
    print("The number is positive.")
else:
    print("The number is non-positive.")

# Using elif for multiple conditions
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

# Nested if statement
if num > 0:
    print("The number is positive.")
    if num % 2 == 0:
        print("The positive number is even.")
    else:
        print("The positive number is odd.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.
The number is positive.
The number is positive.
The positive number is even.

**For loop**

In [16]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

**For loop with else**

In [17]:
num = 10

for i in range(2, num):
    if num % i == 0:
        print("It is not a prime number.")
        break
else:
    print("It is a prime number.")

It is not a prime number.

**While loop**

In [18]:
n = 1

while n <= 5:
    print(n)
    n += 1

1
2
3
4
5

**Infinite while loop**

In [ ]:
age = 42
while age > 18:     # always true
    print('You can vote')

**While loop with else**

In [19]:
num = 5
factorial = 1
i = 1

while i <= num:
    factorial *= i
    i += 1
else:
    print(f"The factorial of {num} is: {factorial}")

The factorial of 5 is: 120

**Break** :The break statement is used to exit the loop as soon as the first even number is found.

In [20]:
numbers = [1, 3, 5, 2, 7, 8, 9]

for num in numbers:
    if num % 2 == 0:
        print(f"The first even number is: {num}")
        break

The first even number is: 2

**Continue**: The continue statement is used to skip the rest of the code inside the loop for even numbers, continuing to the next iteration.

In [21]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for num in numbers:
    if num % 2 == 0:
        continue
    print(f"Odd number: {num}")

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

**Pass** :The pass statement is a no-operation statement. It serves as a placeholder and is often used when a statement is syntactically required but you don't want to perform any action.

In [22]:
class EmptyClass:
    pass