        -----------WEEK 1 - Day 6-----------
                        - Manojkiran G

## Pandas

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

In [1]:
import pandas as pd

#### Object creation

In [2]:
import pandas as pd
import numpy as np

#Creating a Series by passing a list of values, letting pandas create a default integer index:
s = pd.Series([1,3,5,np.nan,6,8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
#Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns

dates = pd.date_range("20231201",periods=8)
print(dates)

DatetimeIndex(['2023-12-01', '2023-12-02', '2023-12-03', '2023-12-04',
               '2023-12-05', '2023-12-06', '2023-12-07', '2023-12-08'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(8,4),index = dates, columns=list("ABCD"))
print(df)

                   A         B         C         D
2023-12-01  0.791345  0.095222 -0.044517  0.537610
2023-12-02 -0.128260 -2.956865 -0.791315  1.032764
2023-12-03  0.593235  0.569560  0.415684  0.210787
2023-12-04 -2.701697  1.253361 -0.778348  1.343648
2023-12-05  0.868668  0.024486 -1.044679  0.933951
2023-12-06 -0.423409  1.141667 -1.287055  0.453393
2023-12-07  0.457170  1.311562 -1.456882 -1.426077
2023-12-08  0.586394 -0.144502 -0.415177  0.209306

In [5]:
#Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame(
{
"A":1.0,
"B":pd.Timestamp("20231201"),
"C":pd.Series(1,index=list(range(4)),dtype="float32"),
"D":np.array([3] * 4,dtype="int32"),
"E":pd.Categorical(["test","train","test","train"]),
"F":"foo",
}
)
print(df2)

     A          B    C  D      E    F
0  1.0 2023-12-01  1.0  3   test  foo
1  1.0 2023-12-01  1.0  3  train  foo
2  1.0 2023-12-01  1.0  3   test  foo
3  1.0 2023-12-01  1.0  3  train  foo

#### Importing DataFrame

In [6]:
#import excel

df_excel= pd.read_excel('practice_excel.xlsx')

In [7]:
#import csv

df = pd.read_csv('practice_csv.csv')

In [8]:
print(df.size)

100000

In [9]:
print(df.index)

RangeIndex(start=0, stop=5000, step=1)

**Displaying data**

In [10]:
df.head(5)

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,Feature11,Feature12,Feature13,Feature14,Feature15,Feature16,Feature17,Feature18,Feature19,Feature20
0,44.0,0.797417,-0.958091,NaN,NaN,158.0,1.490148,5.166124,2.277942,NaN,5,X,1,Category1,Option4,8.824345,11.711130,Yes,Low,NaN
1,47.0,0.026838,-0.244178,D,NaN,NaN,2.151535,0.450312,-3.395356,NaN,3,X,0,Category1,Option2,NaN,13.355832,Yes,Low,cat
2,64.0,0.199990,-1.014799,B,0.0,474.0,1.410613,6.786555,-3.070746,NaN,7,Z,0,Category1,Option2,NaN,13.449484,Yes,Medium,dog
3,67.0,0.474124,0.448040,B,NaN,166.0,0.635091,1.937158,-0.246269,6.004975,20,X,0,Category1,Option2,NaN,7.687652,Yes,Low,cat
4,NaN,0.598516,0.087839,NaN,0.0,NaN,0.392104,4.010937,3.215086,2.891199,3,Z,0,Category1,Option3,11.259371,6.807770,Yes,Low,cat

In [11]:
df.tail(5)

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,Feature11,Feature12,Feature13,Feature14,Feature15,Feature16,Feature17,Feature18,Feature19,Feature20
4995,NaN,0.819440,0.415931,C,0.0,NaN,1.765590,1.929735,-1.951884,NaN,1,Z,1,Category2,Option4,NaN,14.821501,No,Low,NaN
4996,NaN,0.032140,-1.445420,C,1.0,NaN,0.806246,8.765315,-1.866815,NaN,1,Y,0,Category3,Option4,6.368173,5.308922,Yes,Medium,NaN
4997,92.0,0.263300,0.986722,C,NaN,78.0,1.326853,4.489722,1.720671,6.877962,1,X,0,Category1,Option4,5.682022,9.508951,Yes,Medium,NaN
4998,91.0,0.640986,-1.199847,A,0.0,51.0,0.312256,2.773963,-3.320704,6.138322,2,X,0,Category1,Option3,4.574748,8.705127,No,Medium,some other
4999,NaN,0.901570,1.836382,NaN,0.0,NaN,2.087461,6.854886,-0.259228,6.068139,6,X,0,Category2,Option2,12.801075,14.686372,Yes,High,some other

In [12]:
df.sample(5)

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,Feature11,Feature12,Feature13,Feature14,Feature15,Feature16,Feature17,Feature18,Feature19,Feature20
1554,53.0,0.905705,-0.941962,A,0.0,NaN,0.221015,1.638550,0.049304,NaN,1,X,0,Category3,Option1,9.837393,5.996995,Yes,Low,dog
3819,NaN,0.603749,1.606893,A,0.0,935.0,0.088851,3.783255,-0.829551,NaN,2,Z,0,Category2,Option3,NaN,6.018794,Yes,Medium,some other
2671,85.0,0.648017,0.220565,NaN,0.0,911.0,0.124543,4.164549,0.039305,3.133131,1,Z,1,Category1,Option3,11.509472,12.972834,Yes,High,cat
4389,70.0,0.820083,2.170978,NaN,0.0,963.0,1.314611,2.103266,0.264566,NaN,1,Y,0,Category1,Option3,9.277436,5.964480,Yes,Medium,cat
4816,44.0,0.297709,-0.553114,D,NaN,732.0,0.006442,2.024358,0.146985,NaN,4,X,0,Category1,Option3,NaN,8.904326,Yes,Low,dog

**Data Inspection and Exploration**

**Shape of the data**

In [13]:
df.shape

(5000, 20)

**Info of the data**

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature1   2296 non-null   float64
 1   Feature2   5000 non-null   float64
 2   Feature3   5000 non-null   float64
 3   Feature4   3132 non-null   object
 4   Feature5   2968 non-null   float64
 5   Feature6   3016 non-null   float64
 6   Feature7   5000 non-null   float64
 7   Feature8   4899 non-null   float64
 8   Feature9   5000 non-null   float64
 9   Feature10  2164 non-null   float64
 10  Feature11  5000 non-null   int64
 11  Feature12  5000 non-null   object
 12  Feature13  5000 non-null   int64
 13  Feature14  5000 non-null   object
 14  Feature15  5000 non-null   object
 15  Feature16  2994 non-null   float64
 16  Feature17  5000 non-null   float64
 17  Feature18  5000 non-null   object
 18  Feature19  4705 non-null   object
 19  Feature20  3267 non-null   object
dtypes: float64(11), int64(2), object(7)
memory usage: 781.4+ KB

**Basic Statistics of the data**

In [15]:
df.describe()

,Feature1,Feature2,Feature3,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,Feature11,Feature13,Feature16,Feature17
count,2296.000000,5000.000000,5000.000000,2968.000000,3016.000000,5000.000000,4899.000000,5000.000000,2164.000000,5000.000000,5000.000000,2994.000000,5000.000000
mean,48.102787,0.509843,-0.009058,0.103774,506.703346,0.993603,3.996315,-0.024540,4.998186,4.967800,0.496000,10.042781,9.996307
std,28.605603,0.322480,1.010739,0.305018,351.183479,0.991321,2.811892,1.829975,2.289341,4.571624,0.674444,1.990496,2.893759
min,0.000000,-0.476438,-3.644316,0.000000,-538.762910,0.000775,0.033463,-8.516517,-0.215454,1.000000,0.000000,3.627312,5.000292
25%,24.000000,0.253741,-0.686737,0.000000,220.000000,0.286745,1.905678,-1.124829,3.113014,2.000000,0.000000,8.735518,7.509306
50%,47.000000,0.513507,-0.017156,0.000000,507.679700,0.702917,3.360472,0.008667,4.936186,4.000000,0.000000,10.038727,10.026013
75%,72.000000,0.770195,0.688604,0.000000,784.000000,1.376030,5.380483,1.107796,6.175253,7.000000,1.000000,11.385440,12.485023
max,99.000000,1.497998,3.422062,1.000000,1543.622087,8.843108,22.813462,9.915071,14.060631,46.000000,2.000000,17.012344,14.999633

In [16]:
df.Feature1.mean()

48.102787456445995

In [17]:
df.Feature1.mode()

0    6.0
Name: Feature1, dtype: float64

**Accessing Columns**

In [18]:
df.Feature1

0       44.0
1       47.0
2       64.0
3       67.0
4        NaN
        ...
4995     NaN
4996     NaN
4997    92.0
4998    91.0
4999     NaN
Name: Feature1, Length: 5000, dtype: float64

In [19]:
df['Feature1']

0       44.0
1       47.0
2       64.0
3       67.0
4        NaN
        ...
4995     NaN
4996     NaN
4997    92.0
4998    91.0
4999     NaN
Name: Feature1, Length: 5000, dtype: float64

**Finding no.of unique values from each column**

In [20]:
df.nunique()

Feature1      100
Feature2     5000
Feature3     5000
Feature4        4
Feature5        2
Feature6     1329
Feature7     5000
Feature8     4899
Feature9     5000
Feature10    2164
Feature11      38
Feature12       3
Feature13       3
Feature14       3
Feature15       4
Feature16    2994
Feature17    5000
Feature18       2
Feature19       3
Feature20       3
dtype: int64

**Finding the count of unique values from each column**

In [21]:
df.value_counts().head(5)

Feature1  Feature2  Feature3   Feature4  Feature5  Feature6  Feature7  Feature8  Feature9   Feature10  Feature11  Feature12  Feature13  Feature14  Feature15  Feature16  Feature17  Feature18  Feature19  Feature20
0.0       0.563260   0.753472  B         0.0       74.0      2.356553  0.675190   0.444303  4.795679   1          X          1          Category1  Option3    6.772444   5.695737   Yes        Low        some other    1
          0.849989   0.302729  C         1.0       171.0     0.113641  2.519976   1.457208  4.091374   2          Z          1          Category2  Option4    9.098511   13.142023  Yes        Low        cat           1
48.0      0.088109  -0.442593  C         0.0       15.0      0.028802  1.801517   1.555430  3.044977   1          Z          0          Category1  Option2    12.065016  7.913312   Yes        Medium     dog           1
          0.772593  -0.480567  B         0.0       982.0     1.583906  4.432881  -0.079966  4.110908   3          Z          2          Category2  Option4    9.208900   11.566154  Yes        High       dog           1
51.0      0.705771   1.926300  B         0.0       482.0     1.713838  4.415530   0.155362  5.932224   1          Z          2          Category1  Option4    7.815904   7.482995   Yes        High       cat           1
dtype: int64

**Selecting Columns and Rows**

**Using squared brackets [ ]:**

In [22]:
categorical_data = df[['Feature12','Feature14','Feature15','Feature18','Feature19','Feature20']]

In [23]:
categorical_data.head(5)

  Feature12  Feature14 Feature15 Feature18 Feature19 Feature20
0         X  Category1   Option4       Yes       Low       NaN
1         X  Category1   Option2       Yes       Low       cat
2         Z  Category1   Option2       Yes    Medium       dog
3         X  Category1   Option2       Yes       Low       cat
4         Z  Category1   Option3       Yes       Low       cat

**Using .loc[]**

In [24]:
df.loc[100,'Feature1']

49.0

**Check Missing Data in a Column**

In [25]:
df.isna()

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,Feature11,Feature12,Feature13,Feature14,Feature15,Feature16,Feature17,Feature18,Feature19,Feature20
0,False,False,False,True,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,True,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
4,True,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,True,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,True
4996,True,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,True
4997,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4999,True,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

**Find the count of missing values in each column**

In [26]:
df.isna().sum()

Feature1     2704
Feature2        0
Feature3        0
Feature4     1868
Feature5     2032
Feature6     1984
Feature7        0
Feature8      101
Feature9        0
Feature10    2836
Feature11       0
Feature12       0
Feature13       0
Feature14       0
Feature15       0
Feature16    2006
Feature17       0
Feature18       0
Feature19     295
Feature20    1733
dtype: int64

In [27]:
#to check the missing data count for one column
df.Feature5 .isna().sum()

2032

**Filling the missing Data**

In [28]:
most_repeated = df['Feature20'].mode()[0]
most_repeated

'cat'

In [29]:
df['Feature20'].fillna(most_repeated,inplace=True)

In [30]:
df.isna().sum()

Feature1     2704
Feature2        0
Feature3        0
Feature4     1868
Feature5     2032
Feature6     1984
Feature7        0
Feature8      101
Feature9        0
Feature10    2836
Feature11       0
Feature12       0
Feature13       0
Feature14       0
Feature15       0
Feature16    2006
Feature17       0
Feature18       0
Feature19     295
Feature20       0
dtype: int64

**Finding Duplicates using .duplicated**

In [31]:
df.duplicated().sum()

0

In [32]:
#in this sample no dupicates occurs , if any - using .drop_duplicates() function duplicates could be removed
df.drop_duplicates()

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,Feature11,Feature12,Feature13,Feature14,Feature15,Feature16,Feature17,Feature18,Feature19,Feature20
0,44.0,0.797417,-0.958091,NaN,NaN,158.0,1.490148,5.166124,2.277942,NaN,5,X,1,Category1,Option4,8.824345,11.711130,Yes,Low,cat
1,47.0,0.026838,-0.244178,D,NaN,NaN,2.151535,0.450312,-3.395356,NaN,3,X,0,Category1,Option2,NaN,13.355832,Yes,Low,cat
2,64.0,0.199990,-1.014799,B,0.0,474.0,1.410613,6.786555,-3.070746,NaN,7,Z,0,Category1,Option2,NaN,13.449484,Yes,Medium,dog
3,67.0,0.474124,0.448040,B,NaN,166.0,0.635091,1.937158,-0.246269,6.004975,20,X,0,Category1,Option2,NaN,7.687652,Yes,Low,cat
4,NaN,0.598516,0.087839,NaN,0.0,NaN,0.392104,4.010937,3.215086,2.891199,3,Z,0,Category1,Option3,11.259371,6.807770,Yes,Low,cat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,NaN,0.819440,0.415931,C,0.0,NaN,1.765590,1.929735,-1.951884,NaN,1,Z,1,Category2,Option4,NaN,14.821501,No,Low,cat
4996,NaN,0.032140,-1.445420,C,1.0,NaN,0.806246,8.765315,-1.866815,NaN,1,Y,0,Category3,Option4,6.368173,5.308922,Yes,Medium,cat
4997,92.0,0.263300,0.986722,C,NaN,78.0,1.326853,4.489722,1.720671,6.877962,1,X,0,Category1,Option4,5.682022,9.508951,Yes,Medium,cat
4998,91.0,0.640986,-1.199847,A,0.0,51.0,0.312256,2.773963,-3.320704,6.138322,2,X,0,Category1,Option3,4.574748,8.705127,No,Medium,some other
4999,NaN,0.901570,1.836382,NaN,0.0,NaN,2.087461,6.854886,-0.259228,6.068139,6,X,0,Category2,Option2,12.801075,14.686372,Yes,High,some other

**String Operations**

- .str.lower() and .str.upper(): These methods convert strings to lowercase or uppercase for the entire column values.
- .str.replace(): Use this method to replace substrings within strings.
- .str.Contains() : This method allows you to check if a specific substring or pattern exists within a string. It returns a boolean Series indicating whether each element contains the specified pattern.
- .str.slice(): You can extract a substring from each string in a Series using the .str.slice() method. Specify the start and end positions to define the slice.

In [33]:
df.Feature20

0              cat
1              cat
2              dog
3              cat
4              cat
           ...
4995           cat
4996           cat
4997           cat
4998    some other
4999    some other
Name: Feature20, Length: 5000, dtype: object

In [34]:
df.Feature20.str.upper()

0              CAT
1              CAT
2              DOG
3              CAT
4              CAT
           ...
4995           CAT
4996           CAT
4997           CAT
4998    SOME OTHER
4999    SOME OTHER
Name: Feature20, Length: 5000, dtype: object

In [35]:
# incase you want to save the original data with the modified one,use the below line as it doesn't have inplace option

# df=df.Feature20.str.upper()

In [36]:
# Using contains to find how many rows have item names with chicken
df.Feature20.str.contains('cat').sum()

3364

#### Data Manipulation

**.apply for series and DataFrames**

In [37]:
min_value = df.Feature11.min()
max_value = df.Feature11.max()
def normalize(x):
    return (x-min_value)/(max_value-min_value)

normalized_value = df.Feature11.apply(normalize)
normalized_value

0       0.088889
1       0.044444
2       0.133333
3       0.422222
4       0.044444
          ...
4995    0.000000
4996    0.000000
4997    0.000000
4998    0.022222
4999    0.111111
Name: Feature11, Length: 5000, dtype: float64

- In the previous example, we utilized the apply function on a specific series within the DataFrame, which resulted in each individual element of the series being passed to the designated function.

In [38]:
data = {'X': [10, 20, 30, 40, 50], 'Y': [5, 10, 15, 20, 25]}
df_1 = pd.DataFrame(data)

# Define a function to calculate the sum of a row
def sum_row(row):
    return row.sum()

# Apply the function row-wise.
df_1['Row_Sum'] = df_1.apply(sum_row, axis=1)
df_1

    X   Y  Row_Sum
0  10   5       15
1  20  10       30
2  30  15       45
3  40  20       60
4  50  25       75

- In this scenario, the apply function was employed on the entire DataFrame with the parameter axis=1, ensuring that each row is processed by the function. This approach is particularly suitable when the operation needs to be performed row-wise across the DataFrame.

**.map for series**

In [39]:
data = {'Type': ['A', 'B', 'C', 'A', 'B']}
df_2 = pd.DataFrame(data)

# Define a mapping dictionary
category_mapping = {'A': 'Alpha', 'B': 'Beta', 'C': 'Gamma'}

# Create a new column 'Category' based on the mapping
df_2['Category'] = df_2['Type'].map(category_mapping)
df_2

  Type Category
0    A    Alpha
1    B     Beta
2    C    Gamma
3    A    Alpha
4    B     Beta

**.applymap for entire dataframe**

In [40]:
data = {'X': [10, 20, 30], 'Y': [40, 50, 60]}
df_3 = pd.DataFrame(data)

# Define a function to multiply a value by 2
def multiply_by_2(x):
    return x * 2

# Apply the function to the entire DataFrame
df_result = df_3.applymap(multiply_by_2)
df_result

    X    Y
0  20   80
1  40  100
2  60  120

#### Adding  and Removing Columns

In [41]:
df['normalized_value'] = normalized_value

In [42]:
df.head(3)

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,...,Feature12,Feature13,Feature14,Feature15,Feature16,Feature17,Feature18,Feature19,Feature20,normalized_value
0,44.0,0.797417,-0.958091,NaN,NaN,158.0,1.490148,5.166124,2.277942,NaN,...,X,1,Category1,Option4,8.824345,11.711130,Yes,Low,cat,0.088889
1,47.0,0.026838,-0.244178,D,NaN,NaN,2.151535,0.450312,-3.395356,NaN,...,X,0,Category1,Option2,NaN,13.355832,Yes,Low,cat,0.044444
2,64.0,0.199990,-1.014799,B,0.0,474.0,1.410613,6.786555,-3.070746,NaN,...,Z,0,Category1,Option2,NaN,13.449484,Yes,Medium,dog,0.133333

- Dropping Feature 10 , as this column is mostly of missing values.

In [43]:
df = df.drop('Feature10',axis=1)
print(df)

      Feature1  Feature2  Feature3 Feature4  Feature5  Feature6  Feature7  \
0         44.0  0.797417 -0.958091      NaN       NaN     158.0  1.490148
1         47.0  0.026838 -0.244178        D       NaN       NaN  2.151535
2         64.0  0.199990 -1.014799        B       0.0     474.0  1.410613
3         67.0  0.474124  0.448040        B       NaN     166.0  0.635091
4          NaN  0.598516  0.087839      NaN       0.0       NaN  0.392104
...        ...       ...       ...      ...       ...       ...       ...
4995       NaN  0.819440  0.415931        C       0.0       NaN  1.765590
4996       NaN  0.032140 -1.445420        C       1.0       NaN  0.806246
4997      92.0  0.263300  0.986722        C       NaN      78.0  1.326853
4998      91.0  0.640986 -1.199847        A       0.0      51.0  0.312256
4999       NaN  0.901570  1.836382      NaN       0.0       NaN  2.087461

      Feature8  Feature9  Feature11 Feature12  Feature13  Feature14 Feature15  \
0     5.166124  2.277942          5         X          1  Category1   Option4
1     0.450312 -3.395356          3         X          0  Category1   Option2
2     6.786555 -3.070746          7         Z          0  Category1   Option2
3     1.937158 -0.246269         20         X          0  Category1   Option2
4     4.010937  3.215086          3         Z          0  Category1   Option3
...        ...       ...        ...       ...        ...        ...       ...
4995  1.929735 -1.951884          1         Z          1  Category2   Option4
4996  8.765315 -1.866815          1         Y          0  Category3   Option4
4997  4.489722  1.720671          1         X          0  Category1   Option4
4998  2.773963 -3.320704          2         X          0  Category1   Option3
4999  6.854886 -0.259228          6         X          0  Category2   Option2

      Feature16  Feature17 Feature18 Feature19   Feature20  normalized_value
0      8.824345  11.711130       Yes       Low         cat          0.088889
1           NaN  13.355832       Yes       Low         cat          0.044444
2           NaN  13.449484       Yes    Medium         dog          0.133333
3           NaN   7.687652       Yes       Low         cat          0.422222
4     11.259371   6.807770       Yes       Low         cat          0.044444
...         ...        ...       ...       ...         ...               ...
4995        NaN  14.821501        No       Low         cat          0.000000
4996   6.368173   5.308922       Yes    Medium         cat          0.000000
4997   5.682022   9.508951       Yes    Medium         cat          0.000000
4998   4.574748   8.705127        No    Medium  some other          0.022222
4999  12.801075  14.686372       Yes      High  some other          0.111111

[5000 rows x 20 columns]

**Merging DataFrames with merge()**

In [44]:
df1 = pd.DataFrame({'CustomerID': [101, 102, 103], 'Name': ['Jack', 'Alex', 'Billy']})
df2 = pd.DataFrame({'CustomerID': [102, 103, 104], 'Age': [28, 35, 22]})

# Merging based on 'CustomerID'
merged_customers= pd.merge(df1, df2, on='CustomerID', how='inner')
print(merged_customers)

   CustomerID   Name  Age
0         102   Alex   28
1         103  Billy   35

**Concatenating DataFrames using concat()**

In [45]:
df3 = pd.DataFrame({'A': [10, 20], 'B': [30, 40]})
df4 = pd.DataFrame({'A': [50, 60], 'B': [70, 80]})

# Concatenating along rows
concatenated_rows_df = pd.concat([df3, df4])
print(concatenated_rows_df)

    A   B
0  10  30
1  20  40
0  50  70
1  60  80