              -----------WEEK 2 - Day 1-----------
                                - Manojkiran G

## Pandas Continuation

In [31]:
import pandas as pd
import numpy as np

### Grouping Data

In [32]:
#sample data 
data = {'Category': ['Electronics', 'Clothing', 'Electronics', 'Clothing', 'Electronics', 'Clothing'],
        'Gender': ['Male', 'Male', 'Female', 'Female', 'Male', 'Female'],
        'Sales': [1200, 800, 1000, 900, 1500, 1100],
        'Discounts': [50, 20, 30, 40, 10, 15],
        'Profit': [200, 100, 150, 120, 250, 180]}
df = pd.DataFrame(data)

#### Group with a single column using groupby method.

In [33]:
# Grouping by 'Gender'
grouped_sales = df.groupby('Gender')

# Calculating total sales for each gender
total_sales_by_gender = grouped_sales['Sales'].sum()

print(total_sales_by_gender)

Gender
Female    3000
Male      3500
Name: Sales, dtype: int64

#### Group with single column and apply to entire Dataframe.

In [34]:
# Grouping by 'Gender'
grouped_sales = df.groupby('Gender')

# Calculating total sales, total discounts, and total profit for each gender
summary_by_gender = grouped_sales.agg({'Sales': 'sum', 'Discounts': 'sum', 'Profit': 'sum'})

print(summary_by_gender)

        Sales  Discounts  Profit
Gender
Female   3000         85     450
Male     3500         80     550

#### Group with multiple columns

In [35]:
grouped_data = df.groupby(['Category', 'Gender'])

# Calculate the mean for Math_score
sales_results = grouped_data['Sales'].mean()

print(sales_results)

Category     Gender
Clothing     Female    1000.0
             Male       800.0
Electronics  Female    1000.0
             Male      1350.0
Name: Sales, dtype: float64

### Aggregate Functions

#### Applying multiple aggregate functions for selected columns.

In [36]:
# Applying aggregation functions to 'sales', 'discounts', 'profit'
aggregated_data = grouped_data.agg({
    'Sales': ['mean', 'min', 'max'],
    'Discounts': ['mean', 'min', 'max'],
    'Profit': ['mean', 'min', 'max']
})

print(aggregated_data)

                     Sales             Discounts         Profit
                      mean   min   max      mean min max   mean  min  max
Category    Gender
Clothing    Female  1000.0   900  1100      27.5  15  40  150.0  120  180
            Male     800.0   800   800      20.0  20  20  100.0  100  100
Electronics Female  1000.0  1000  1000      30.0  30  30  150.0  150  150
            Male    1350.0  1200  1500      30.0  10  50  225.0  200  250

#### Applying multiple aggregate functions to the grouped data.

In [37]:
# Calculate the mean, min, and max scores for sales
agg_results = grouped_data.Sales.agg(['mean', 'min', 'max'])

print(agg_results)

                      mean   min   max
Category    Gender
Clothing    Female  1000.0   900  1100
            Male     800.0   800   800
Electronics Female  1000.0  1000  1000
            Male    1350.0  1200  1500

### Pivot Table

In [38]:
# Sample data
data = {'A': [1, 2, 3, 4, 5],
        'B': ['Bangalore', 'Kochi', 'Chennai', 'Gurgaon', 'Noida']}
df = pd.DataFrame(data)

In [39]:
pivot_table = df.pivot_table(values='A', index='B', aggfunc='mean')
print(pivot_table)

           A
B
Bangalore  1
Chennai    3
Gurgaon    4
Kochi      2
Noida      5

### Cross-Tabulations

In [40]:
cross_tab = pd.crosstab(df['A'], df['B'])
print(cross_tab)

B  Bangalore  Chennai  Gurgaon  Kochi  Noida
A
1          1        0        0      0      0
2          0        0        0      1      0
3          0        1        0      0      0
4          0        0        1      0      0
5          0        0        0      0      1

### Data Handling in Time Series Data

#### DateTime Data

- Utilizing the pd.to_datetime method empowers you to transform a series with datetime values into a pandas datetime series, enabling seamless analysis. 
- Extracting components such as year, month, day, and hours becomes easily achievable.

In [41]:
#sample data 
data = {'DateTime': ['2023-01-15 12:30:00', '2023-02-28 18:20:00', '2023-03-10 09:45:00']}
df = pd.DataFrame(data)

# Convert the 'DateTime' column to DateTime
df['DateTime'] = pd.to_datetime(df['DateTime'])

# Extract year, month, day, and hour
df['Year'] = df['DateTime'].dt.year
df['Month'] = df['DateTime'].dt.month
df['Day'] = df['DateTime'].dt.day
df['Hour'] = df['DateTime'].dt.hour

print(df)

             DateTime  Year  Month  Day  Hour
0 2023-01-15 12:30:00  2023      1   15    12
1 2023-02-28 18:20:00  2023      2   28    18
2 2023-03-10 09:45:00  2023      3   10     9

### Resampling
- Resampling, a crucial technique in time series analysis, involves altering the frequency of your data, allowing for aggregation or transformation from one time frequency to another. 
- Whether for aggregating high-frequency data to a lower frequency or interpolating irregularly sampled data to a regular frequency, resampling provides a versatile tool for analysis and visualization.

In [42]:
# Sample DataFrame with daily stock prices
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-02-01', '2023-02-02', '2023-02-03'],
        'Price': [100, 105, 98, 110, 108, 112]}
df = pd.DataFrame(data)

# Convert the 'Date' column to DateTime
df['Date'] = pd.to_datetime(df['Date'])

# Set 'Date' as the index
df.set_index('Date', inplace=True)

# Resample the data to monthly frequency, taking the average price for each month
monthly_prices = df.resample('M').mean()

print("Data Before resampling:")
print(df)
print("\nData After resampling:")
print(monthly_prices)

Data Before resampling:
            Price
Date
2023-01-01    100
2023-01-02    105
2023-01-03     98
2023-02-01    110
2023-02-02    108
2023-02-03    112

Data After resampling:
            Price
Date
2023-01-31  101.0
2023-02-28  110.0

### Shifting

- Shifting, also known as time lagging, plays a pivotal role in time series analysis by displacing data points forward or backward in time. 
- It facilitates tasks like calculating differences between current and past or future data points and creating time lags for analyzing how past values influence future outcomes.

In [43]:
data = {'ID': np.arange(1, 11), 'Value': np.random.randint(1, 100, 10)}
df = pd.DataFrame(data)

# Randomly sample 5 rows from the DataFrame
sampled_df = df.sample(n=5, random_state=42)

print(sampled_df)

   ID  Value
8   9     97
1   2     25
5   6     55
0   1     86
7   8     16

### Rolling statistics

- Rolling statistics, a widely employed technique in time series analysis, entails applying a statistical function to a moving window of data points. 
- This method, often referred to as rolling calculations or rolling windows, helps smooth out noise in time series data, making underlying patterns more discernible.
- Rolling statistics, characterized by a fixed window size and the application of specific functions within that window, enhance the analysis of time series data. 
- This approach, encompassing functions like mean, sum, or standard deviation, proves invaluable for detecting trends or patterns over time.

In [14]:
data = {'Value': np.arange(1, 11)}
df = pd.DataFrame(data)

# Calculate the rolling sum with a window size of 2
rolling_sum = df['Value'].rolling(window=2).sum()

# Combine the original DataFrame with the rolling sum
result_df = pd.concat([df,rolling_sum.rename('Rolling_Sum')], axis=1)

print(result_df)

   Value  Rolling_Sum
0      1          NaN
1      2          3.0
2      3          5.0
3      4          7.0
4      5          9.0
5      6         11.0
6      7         13.0
7      8         15.0
8      9         17.0
9     10         19.0

### Handling Categorical Data

#### Encoding Categorical Variables

#### One-Hot Encoding using pd.get_dummies

In [15]:
data = {'class': ['A', 'B', 'A', 'C', 'B']}
df = pd.DataFrame(data)

# Apply one-hot encoding using pd.get_dummies
one_hot_encoded = pd.get_dummies(df['class'],prefix='class')

# Concatenate the original DataFrame with the one-hot encoded columns
result_df = pd.concat([df, one_hot_encoded], axis=1)

print(result_df)

  class  class_A  class_B  class_C
0     A        1        0        0
1     B        0        1        0
2     A        1        0        0
3     C        0        0        1
4     B        0        1        0

#### Label Encoding using Category type

In [16]:
data = {'City': ['Chennai', 'Hyderabad', 'Bangalore', 'Delhi', 'Noida']}
df = pd.DataFrame(data)

# Convert the 'City' column to categorical type
df['City'] = df['City'].astype('category')

# Label encode the 'City' column
df['City_LabelEncoded'] = df['City'].cat.codes

print(df)

        City  City_LabelEncoded
0    Chennai                  1
1  Hyderabad                  3
2  Bangalore                  0
3      Delhi                  2
4      Noida                  4

### Sorting Ordinal Data

- Sorting ordinal data involves arranging categories in a meaningful order.

In [44]:
# Create a DataFrame with an ordinal column
data = {'Student': ['Alex', 'Billy', 'Candy', 'Diana', 'Eva'],
        'Grade': ['B', 'C', 'A', 'D', 'B']}
df = pd.DataFrame(data)

# Define the logical order of grades
grade_order = ['A', 'B', 'C', 'D', 'F']

# Convert the 'Grade' column to a categorical type with specified order
df['Grade'] = pd.Categorical(df['Grade'], categories=grade_order, ordered=True)

print("Before Sorting:")
print(df)

# Sorting
df_sorted = df.sort_values(by='Grade')

print("\nAfter Sorting:")
print(df_sorted)

Before Sorting:
  Student Grade
0    Alex     B
1   Billy     C
2   Candy     A
3   Diana     D
4     Eva     B

After Sorting:
  Student Grade
2   Candy     A
0    Alex     B
4     Eva     B
1   Billy     C
3   Diana     D

### Multi-indexing

- Multi-indexing, also known as hierarchical indexing, allows you to have multiple index levels in a pandas DataFrame.

In [45]:
data = {'Value': [10, 15, 20, 25, 30, 35],
        'Category': ['A', 'B', 'A', 'B', 'A', 'B']}
index = pd.MultiIndex.from_tuples([('2023-01-01', 'First'), ('2023-01-01', 'Second'),
                                  ('2023-01-02', 'First'), ('2023-01-02', 'Second'),
                                  ('2023-01-03', 'First'), ('2023-01-03', 'Second')],
                                 names=['Date', 'Order'])

df = pd.DataFrame(data, index=index)

print(df)

                   Value Category
Date       Order
2023-01-01 First      10        A
           Second     15        B
2023-01-02 First      20        A
           Second     25        B
2023-01-03 First      30        A
           Second     35        B